.git
.gitignore
.dockerignore
.gcloudignore
.env
.env.*
**/node_modules
**/.npm-cache
**/*.log
**/*.sqlite
**/*.sqlite-journal
**/*.db
**/coverage
**/dist
**/build
**/tmp
**/*.tmp
**/*.temp
.vscode
.idea
.DS_Store
Thumbs.db
docker-compose.local.yml
legacy/
auxiliares/
