.git
.gitignore
.gcloudignore
.dockerignore
node_modules
.npm-cache
npm-debug.log
*.log
.env
.env.*
database/*.sqlite
database/*.sqlite-journal
database/*.db
coverage
dist
build
tmp
*.tmp
*.temp
.vscode
.idea
.DS_Store
Thumbs.db
