.git
.gitignore
.dockerignore
.gcloudignore
node_modules
.npm-cache
.env
.env.*
database/*.sqlite
database/*.sqlite-journal
database/*.db
npm-debug.log
*.log
coverage
dist
build
tmp
*.tmp
*.temp
.vscode
.idea
.DS_Store
Thumbs.db
